body {
    background-color: #777777;
    font-family: "Poppins", sans-serif;
    padding-right: calc(1.25em - (100vw - 100%)); /*dynamic padding for scroll-bar*/
}

.checkbox {
    display: none;
}

h1 {
    padding: 0.3em;
    margin: 0;
    user-select: none;
}

.main-wrapper {
    background-color: #444444;
    margin: 0 auto 0;
    max-width: 50%;
    border-radius: 10px;
    overflow: hidden;
}

.tab-content {
    opacity: 0;
    height: 0;
    overflow: hidden;

    /*transition: all 400ms ease-in, transform 400ms ease, opacity 400ms step-start, border 1s step-start;*/
    transition: all 700ms cubic-bezier(.8,-0.19,.3,1.27), transform 400ms ease, border 1s step-start;
    /*transition: all 700ms cubic-bezier(.8,-0.19,.3,1.27), transform 400ms ease, opacity 400ms step-start, border 1s step-start;*/
}



.checkbox:checked ~ .tab-content,
.tab-name:hover .tab-content
    {
    height: 18em;/*13 is good for mobile*/
    opacity: 1;
    padding: 2em 0;
    background-color: #447777;
}

.tab:active .tab-content {
    /*transform: scale(1.1) rotate(1deg);*/
    opacity: 0.8;

    transform: scaleX(1.1);

    border-left: 0.5em solid;
    border-right: 0.5em solid;
    border-color: #444444d5;
}






.checkbox:checked ~ .name-wrapper,
.checkbox:hover + .name-wrapper
    {
    background-color: rgb(165, 100, 100);
    opacity: 1;
    color: #020202;
}

.bayan-wrapper:hover .name-wrapper {
    color: #020202;
}

.bayan-wrapper:hover .fa-solid {
    opacity: 1;
}

.fa-solid {
    font-size: 1.3em;
    color: #222222;
    transition: 700ms cubic-bezier(.8,-0.19,.3,1.27);
    transition: all 400ms ease-in, opacity 0s ease;
    opacity: 0;
}

.tab-name:hover .fa-solid,
.checkbox:checked ~ .name-wrapper .fa-solid {
    transform: rotate(90deg);
}

.tab-name {
    display: block;
    background-color: #666666;
    cursor: pointer;
}

.name-wrapper {
    display: flex;
    user-select: none;
    pointer-events: none;
    justify-content: space-between;
    align-items: center;

    padding: 0.8em;

    opacity: 0.9;

    color: #0099FF;
    margin-top: 7px;

    transition: all 300ms ease, color 500ms ease-out;
}

.tab:active .name-wrapper {
    color: #0099FF; /*#0099FF*/
}

.tab-content {
    width: 50%;

    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center;
    background-position-y: center;

    background-size: cover;
}

.tab-content-1 {
    background-image: url(gifs/kermit-falling.gif);
}
.tab-content-2 {
    background-image: url(gifs/dog-alo.gif);
}
.tab-content-3 {
    background-image: url(gifs/dumb-stupid.gif);
}
.tab-content-4 {
    background-image: url(gifs/why-are-you-why-are-you-gay.gif);
}
.tab-content-5 {
    background-image: url(gifs/sewerslvt-jvne.gif);
}


